b {
  color: #000000;
}

ol, ul {
  margin: 0;
  margin-left: 2em;
  padding: 0;
}

ol {
  color: #000000;
}

ol span {
  color: #000000;
}

ul {
  list-style-image: url();
}

del {
  color: #000000;
}

code {
  margin: 10px 15px;
  padding: 10px;
  display: block;
  overflow: auto;
  
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  
  background: #ffffff;
}

.leftColumn code {
  margin-left: 0;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

dt {
  font-weight: bold;
  color: #444444;
}

dd {
  margin-left: 0;
  padding-left: 45px; 
}




/**************************************************************
   Form Elements
 **************************************************************/

label {
  display: block;
}

input,
textarea,
select {
  padding: 2px;
  font: 400 1em verdana, sans-serif;
  color: #000;
  background: #dddddd;
  border: 1px solid #000;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  color: #000;
  background: #dddddd;
  border: 1px solid #444;
}


input.button {
  padding: 2px 5px;
  font: 200 0.8em "trebuchet ms", serif;
  color: #000000;
  background: #dddddd;
  border-width: 2px;
  border-style: solid;
  border-color: #888 #444 #444 #888;
}






/**************************************************************
   Blockquote and included icons
 **************************************************************/

blockquote {
  margin: 10px 15px;
  padding-left: 27px;
  
  background-color: #96BDE2; 
  background-image: url();
  background-repeat: no-repeat;
  
}

blockquote.exclamation {
  background-image: url();
}

blockquote.stop {
  background-image: url();
}

blockquote.go {
  background-image: url();
}





/**************************************************************
   Images
 **************************************************************/

img.floatRight {
  margin: 5px 0px 10px 15px;  
}

img.floatLeft {
  margin: 5px 15px 10px 0px;
}

a img {  
/*  border: 2px solid #8BE6FA;           */
}

a:hover img {  
  /* Fixes IE bug - IE doesn't correctly apply the style on a:hover so need to mask it */
/*  border: 2px solid #FFF !important; */
/*  border: 2px solid #8BE6FA;           */
}


/**************************************************************
   Admin Elements
 **************************************************************/

.adminpanel {
  margin-left:15px; 
  margin-right: 20px;
  padding: 1em;


  border: 1px solid #444;
  color: #444;
  background: #eee;
  vertical-align: middle;
  padding: 10;

}

p.notice {
	font: italic 10pt/14pt Georgia,serif;
	margin: 15px;
        padding: 10px;
        text-align: center;
	border: 1px solid #EA1B00;
        color: #000000;
}

p.login {
	font: 10pt/14pt verdana, arial, sans-serif; 
        font-variant: small-caps;
	margin: 0px;
        margin-right:15px;
        padding: 0px;
        text-align: right;
        color: #000000;
}

p.nav {
	font: 10pt/14pt verdana, arial, sans-serif;
        font-variant: small-caps;
	margin: 0px;
        margin-right:15px;
        padding: 0px;
        text-align: right;
        color: #000000;
}


/* JQuery time add-in tweak */

/* .ui-timepicker-div { font-size: 10pt; line-height: 10pt; }  */
/* .ui-timepicker-div dt,dl { height: 40pt; } */
.ui-timepicker-div select { width: 60pt; } 

/* ui_tpicker_timezone */