/**************************************************************
   gRSShopper HTML CSS
   Stephen Downes, June 2012
   DATE:    2006.03.19
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/


/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {  
  height: 100%;
  min-height: 100%;

  text-align: left;
}

#content,
#width {
  /* max-width hack for IE since it doesn't understand the valid css property */
  width: expression(document.body.clientWidth > 1000 ? "1000px" : "94%");  
  max-width: 1000px;
  margin: 0 auto;
}

#content[id],
#width[id] {
  width: 94%;
  height: auto;
}




/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  position: relative;
  height: 100px;
}

/* Holds the site title and subtitle */
#header #title {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 130px;

  padding: 5px;
  text-align: right;
}

#header h1 {
  margin: 0;
  padding: 0;

  font: 700 4em "trebuchet ms", serif;
  letter-spacing: -3px;
  text-transform: lowercase;
  color: #000000;
}

#header h2 {
  position: absolute;
  top: 10px;
  right: 5px;

  margin: 0;
  padding: 0;

  font: 700 1em "trebuchet ms", serif;
  text-transform: lowercase;
  color: #000000;
}

/* Floating Images */


img.left {
  float:left;
  margin:5px 15px 15px 15px; 
}


img.right {
  float:right;
  margin:5px 15px 15px 15px; 
}

img.top {
  margin:5px 15px 15px 0px; 
}

img.bottom {
  margin:15px 15px 5px 0px; 
}

/* Sets where the header images will go */
#header img.left {
  position: absolute;
  z-index: 1;
margin:0;
  top: 0;
  left: 0;
}

#header img.right {
  position: absolute;
  z-index: 0;
margin:0;
  top: 0;
  right: 0;
}

#header img.balloons {
  position: absolute;
  z-index: 2;

  top: 70px;
  right: 400px;
}



/**************************************************************
   #mainMenu: The top level site menu
 **************************************************************/

#mainMenu { 
  float: left;
  width: 100%;
  clear: both;  
}

#mainMenu ul {
  margin: 0;
  padding: 0;
}

#mainMenu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu li a {
  float: left;
  margin: 0 2px;
  padding: 5px 0.5em;

  font: 400 1.6em "trebuchet ms", serif;
  text-decoration: none;
  text-transform: lowercase;
  color: #000000;
}

#mainMenu li a:hover,
#mainMenu li a.here {
  color: #000000;
  border-top: 2px solid #888888;
}

#mainMenu li a.last {
  margin-right: 0;
}




/**************************************************************
   .sideMenu: The side bar menu
 **************************************************************/

ul.sideMenu {
  margin: 0;
  padding: 0;
}

.sideMenu li {
  display: inline;
  
  /* Needed since IE fails when you give it list-style: none; */  
  list-style-image: url(foo.gif);
  font: 400 1.3em "trebuchet ms", serif;
}

.sideMenu li a {
  display: block;
  margin: 0.2em 0;
  padding: 3px 5px;    
  
  text-decoration: none;
  color: #0000aa;
} 

.sideMenu li a:hover {
  color: #3578FF;
  background: #0000ff;
}

/* Active menu item */
.sideMenu li.here {
  display: block;  
  padding: 5px;
  color: #000000;
  background: #ffffff;
}

/* Submenu of active menu item */
.sideMenu li.here ul {
  margin: 0;
  padding: 0;
}

.sideMenu li.here ul li a {
  padding-left: 35px;
  font: 400 0.55em verdana, arial, sans-serif; 
  color: #000;  
  background: url() no-repeat 10px 0px;
}

.sideMenu li.here ul li a:hover {
  color: #0000ff;
  background: #ffffff url() no-repeat 10px 0px;
}



/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  width: 100%;
  clear: both;
  
  padding-bottom: 4em;
}




/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  float: left;
  width: 100%;
  clear: both;
  
  margin-top: -3.8em;
  background: #fff url() repeat-x top left;
}

/* Sets the width of the footer content */
#footer #width {
  position: relative;
  z-index: 3;
  font-size: 0.85em;
  padding-top: 27px;
}



/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width50 {
  width: 49.7%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}



/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}



/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.8em;
}

.green {
  color: #A1FF45;
}

.red {
  color: #EA1B00;
}

.grey {
  color: #666;
}

.grey a {
  color: #999;
}

.grey a:hover {
  color: #EEE;
}

.gradient {
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #000000;
  background: #ffffff url() repeat-x top left; 
}



.gradient2 {
  margin-bottom: 2em;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #DCE3E8 url() repeat-x top left; 
}


/********************
Insets
*********************/

.leftinset {
	padding:20px; 
	padding-top: 4px; 
	float:left;
	margin-left:20px;

}


.rightinset {
	padding: 20px;
	float:right;
	margin-right:20px;
}


.leftcallout {
	font: italic 16pt/20pt Georgia,serif;
	border-top: 2px solid #996600;
	border-bottom: 2px solid #996600;
	padding:20px; 
	float:left;
	margin-left:-20px;
	margin-right: 20px;
	width: 250px;
}


.rightcallout {
	font: italic 16pt/20pt Georgia,serif;
	border-top: 2px solid #996600;
	border-bottom: 2px solid #996600;
	padding:20px; 
	float:right;
	margin-right:20px;
	margin-left: 20px;
	width: 350px;
	margin-top: 5px;
	margin-bottom: 10px;
}


.insetcaption {

	font: italic 10pt/14pt Georgia,serif;
	width: 300px;
	margin-top: 10px;
	border: 1px solid #996600;
}



/********************
Sliders
*********************/

.clasp {
    font-size: 0.8em;
    line-height: 0.8em;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 0);

}
.lunchbox {
display:none;
} 