/*

  gRSShopper CSS
  Stephen Downes 21 october 2012

   */
   /* Post services   */

 
 .servicebox {
  float:left;
  border: 1px solid black;
  width: 400px;
  height: 40px;
  margin:0; padding:0;
  padding-top:5px;
  padding-left:5px;
  padding-bottom:5px;
  margin-right:5px;
  margin-bottom:5px;
  text-align: left;
}

.votebox {
  float:left;
  width: 40px;
  height: 45px;
  border: 1px solid black;
  font-family:arial, helvetica; 
  font-size:1em; 
  font-weight:bold;
  margin:0; 
  padding:0;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:5px;
  margin-bottom:5px;
  text-align: center;
}

.voteinline {
  float:left;
  width: 40px;
  height: 52px;
  font-family:arial, helvetica; 
  border-left: 1px solid blue;
  font-size:1em; 
  font-weight:bold;
  margin:0; 
  padding:0;
  margin-top:5px;
  text-align: center;
 
}
.votescore {
  line-height: 26px;
  text-align: center;
  width:45px; 
  height: 26px;
  margin:0; 
  padding:0;
  overflow: hidden;
}


.votearrow {
  width: 45px; 
  height: 7px;
  line-height: 7px;
  text-align: center;
  margin:0; 
  padding:0;
}

.addthisbox {
  float:left;
  border: 1px solid black;
  width: 200px;
  height: 40px;
  margin:0; 
  padding:0;
  padding-top:5px;
  padding-left:5px;
  padding-bottom:5px;
  margin-right:5px;
  margin-bottom:5px;
  text-align: left;
}



.arrowup {
    background-image: url("http://www.downes.ca/assets/img/updown.png");
    background-position: -32px 0px;
    background-repeat: no-repeat;
    width:16px;
    height: 14px;
    margin: 0px auto;
}
.arrowdown {
    background-image: url("http://www.downes.ca/assets/img/updown.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width:16px;
    height: 14px;
    margin: 0px auto;

}

.post-summary {
   margin:10px;
   padding-top:20pt;
}